[[partials]]
id = "default"

# # Concurrent requests to make per instance
# concurrency = 10

## Set connect timeout (default 1s)
# timeout = "1s"

## Set read timeout (only used if expecting a response)
# read_timeout = "1s"

## Protocol, must be "tcp" or "udp"
## NOTE: because the "udp" protocol does not respond to requests, it requires
## a send/expect string pair (see below).
# protocol = "tcp"

## The following options are required for UDP checks. For TCP, they are
## optional. The plugin will send the given string to the server and then
## expect to receive the given 'expect' string back.
## string sent to the server
# send = "ssh"
## expected string in answer
# expect = "ssh"

## Connectivity check (always enabled, defaults to Critical)
## check label auto-set to "net::connectivity"
[partials.connectivity]
severity = "Critical"
# title_rule = "[check] [target]"

## Response time check (disabled if both thresholds are 0)
## check label auto-set to "net::response_time"
# [partials.response_time]
# warn_ge = "200ms"
# critical_ge = "1s"
# title_rule = "[check] [target]"


[[instances]]
targets = [
#     "127.0.0.1:22",
#     "localhost:6379",
#     ":9090"
]

partial = "default"

# # gather interval
# interval = "30s"

# # Optional append labels
# labels = { env="production", team="devops" }

[instances.alerting]
# disabled = true
for_duration = 0
repeat_interval = "5m"
repeat_number = 3
# disable_recovery_notification = true
