[[instances]]
# # e.g. /path/to/sfilter-scripts/system-health.sh
command = ""
# # script timeout
timeout = "10s"

# support glob
filter_include = ["*WARNING*", "*CRITICAL*"]
filter_exclude = []

## Maximum number of matched lines to include in alert description (default 10)
# max_lines = 10

# # gather interval
interval = "30s"

## Severity when matched lines are found
## check label auto-set to "sfilter::match", target label auto-set to command
[instances.match]
severity = "Warning"
# title_rule = "[check] [target]"

[instances.alerting]
# disabled = true
for_duration = 0
repeat_interval = "5m"
repeat_number = 3
# disable_recovery_notification = true
