[[instances]]
time_span = "3m"
directory = "/tmp"
interval = "30s"

## Severity when file changes are detected
## check label auto-set to "mtime::change", directory label auto-set from config
[instances.change]
severity = "Warning"
# title_rule = "[check] [target]"

# 不常用的配置，默认值都是 false
# disabled = false
# disable_recovery_notification = false
[instances.alerting]
for_duration = 0
repeat_interval = "5m"
repeat_number = 3
