# script stdout example:
# 1. It's an array
# 2. event_status choice: Critical, Warning, Info, Ok
# [
#     {
#         "event_status": "Warning",
#         "labels": {
#             "check": "oom killed",
#         },
#         "title_rule": "$check",
#         "description": "kernel: Out of memory: Kill process 9163 (mysqld) score 511 or sacrifice child"
#     }
# ]

[[instances]]
# # commands, support glob
commands = [
    # "/opt/catpaw/scripts/*.sh"
]

# # script timeout
# timeout = "10s"

# # Concurrent requests to make per target
# concurrency = 5

# # gather interval
# interval = "30s"

# # Optional append labels
# labels = { env="production", team="devops" }

# 不常用的配置，默认值都是 false
# disabled = false
# disable_recovery_notification = false
[instances.alerting]
for_duration = 0
repeat_interval = "5m"
repeat_number = 3
